.header{
    background: #a653f3;
}

.header ul li{
    width: 33%;
    display: inline-block;
    border: 1px solid #333333; 
    text-align: center;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    /* display: inline-block;
    text-align: center;
    padding:10px;
    list-style: none;
    width: 33%; */
}
.header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
}