.post-wrapper{
    /* margin:auto; */
}
.comment-content{
    
    border-radius: 30px;
    background: #8e53f3;
    box-shadow:  5px 5px 10px #482a7c, 
                 -5px -5px 10px #d47cff;

} 
.comment-img{
    width: 200px;
    float: left;
}
.comment-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
.comment-info{
    width: 600px;
}